// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
  }
  
  /* Titles */
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333;
  }
  
  h1 {
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  /* Paragraph & Typographic */
  
  p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
  }
  
  .centered {
    text-align: center;
  }
  
  /* Links */
  
  
  
  #ww {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #f2f2f2;
  }
  
/*people_show*/
.col-lg-8  img{
    width:170px;
    height:170px;
    border-radius: 50%;
  }

/*edit_profile*/
.form-group {
	position: relative;
	width: 80%;
	margin: 40px 3%;
}

.form-group h4[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}

.form-group input[type='text']:focus {
	border-bottom: 2px solid #FFA500;
	outline: none;
}
  
  